*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
*.csv
*.xlsx

_notebooks/runs
_notebooks/data
_notebooks/cache_dir
_notebooks/outputs
.vscode
.ipynb_checkpoints
*.lock
*.dirlock